/*
    Alfred, the sustainable butler
    Designed by Nicolas Guilloux - https://nicolasguilloux.eu/

    University College Cork - MSc Interactive Media
    Student n°117221997

    Based on this work: https://github.com/kossa/laradminator
*/

/* Animate everything */
.transition {
    flex-grow: 1;
    transition: all 400ms ease;
}

/* Clickable tile */
.clickable {
    box-shadow: 0 0 0 rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;

    cursor: pointer;
}

.clickable:hover { box-shadow: 0 5px 15px rgba(0,0,0,0.3); }

/* Date picker */
.datepicker {
    background-color: white;
    cursor: pointer;
}

/* Map */
svg {
    max-width: 100%;
}
